/* 
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

.container-login {
  @extend .container-fluid;
  max-width: 600px;
  padding: 2rem;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

// フラッシュ
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ヘッダー
body {
  padding-top: 51px;
}

.base-bg-color {
  background: linear-gradient(to right, #353ada, #5a9dfb);
}

.navbar-collapse {
  justify-content: flex-end;
}

.header-nav {
  font-size: 0.8rem;
  margin: 0 auto;
  word-break: keep-all;
}

// フッター

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

// テキスト教材一覧ページ
.text-card-container {
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}
.content-card {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}

// 共通
a:hover {
  text-decoration: none;
}

// 動画教材一覧ページのページネーション
.pagination {
  justify-content: center;
}