<div>
  <a class="text-white" href="#" target="_blank" rel="noopener" >LINE</a>
  <a class="text-white" href="#" target="_blank" rel="noopener" >Twitter</a>
  <a class="text-white" href="#" target="_blank" rel="noopener" >YouTube</a>
  <a class="text-white d-none d-md-inline " href="#" target="_blank" rel="noopener" >Facebook</a>
</div>
